.company-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
  padding: 10vh;
  margin-left: 20vh;
  margin-right: 20vh;
}

.company-details-header {
  font-size: 4rem;
  font-weight: bold;
  color: teal;
  margin-bottom: 30px;
}

.company-details span {
  font-weight: bold;
  color: indianred;
}

.name,
.address,
.phone-number {
  width: 100%;
  font-size: large;
  margin: 5px;
  padding: 10px;

  /* Round corners button */
  border-radius: 25px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.name:hover,
.address:hover,
.phone-number:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.company-details-actions {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 40px;
  display: inline-block;
}

.delete-company,
.edit-company-info {
  width: 250px;
  font-size: large;
  font-weight: bold;
  background-color: teal;
  color: white;
  margin: 5px;
  padding: 10px;
  /* Round corners button */
  border-radius: 25px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.delete-company:hover,
.edit-company-info:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.account-not-loged-in {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  color: teal;
  font-size: 2rem;
}
